#container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    aspect-ratio: 1/1;
    width: 75vh;
    margin: 0 auto;
    background-color: aquamarine;
    text-align: center;

}
body{
    background-color: grey;
    display: flex;
    justify-content: center;
    height: 80vh;
}
.cell{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: solid 3px black; 
}
.toomanydivs{
    line-height: 0;
}